<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <!-- USER PROFILE -->
    <div class="d-flex align-items-center p-3 border-bottom">
      <i class="bi bi-person-circle" style="font-size:40px; margin-right:10px;"></i>
      <div>
        <div style="font-weight:600;">Guest User</div>
        <small><i class="bi bi-person"></i> User</small>
      </div>
    </div>

    <!-- home -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#/dashboard">
        <i class="bi bi-journal-text"></i><span>Home</span>
      </a>
    </li>

    <!-- employee -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#employee-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Employee</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="employee-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="#/create">
            <i class="bi bi-circle"></i><span>Create</span>
          </a>
        </li>
        <li>
          <a href="#/search">
            <i class="bi bi-circle"></i><span>Search</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- more -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#more-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>More</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="more-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Multiple Tabs</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Menu</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Auto Complete</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Collapsible Content</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>images</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Slider</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Tooltips</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Popups</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>Links</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>CSS Properties</span>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="bi bi-circle"></i><span>iFrame</span>
          </a>
        </li>
      </ul>
    </li>

    <!-- settings -->
    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#settings-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>settings</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
    </li>

  </ul>

</aside>