<main id="main" class="main">
  <section class="section dashboard">
    <div class="row">

      <div class="col-lg-8">
        <div class="row">
          <h1>Welcome to JALA Academy</h1>
          <p class="subtitle">The world's best up-skilling academy</p>

          <div class="info-box">
            <h3>Do you want to learn Selenium/cucumber Automation completely with Practical Scenarios in 7 Days? Use this
              website to find all the scenarios at one place.</h3>
            <h3>To understand or test RESTful APIs, use the JALA Academy FREE live APIs. Seach on Google with the keyword
              "JALA Academy Postman APIs"</h3>
          </div>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="card-box">
          <p>You learn Everything by doing projects if you are very serious to gat a software job in 90 days
            <a href="http://jalatechnologies.com" target="_blank">http://jalatechnologies.com</a>
          </p>
          <p>Don't forget to read our website JALA Academy completley to know more opportunities</p>
        </div>
      </div>

      <div class="col-lg-8">
        <div class="highlight-box">
          <p>If you are a working professional, Up-skill with JALA Academy Job Guarantee Programs to keep your Job secure for 10 Years</p>
        </div>
      </div>

    </div>
  </section>
</main>